*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: "Tiro Devanagari Marathi", serif;
  background-color: rgb(96, 92, 92);
  margin: 0 20px;
}
a {
  text-decoration: none;
  color: rgb(216, 207, 207);
  font-size: 1.1rem;
}
li {
  margin: 10px;
}
ul {
  list-style-type: none;
}
header {
  height: 15vh;
  width: 100%;
  display: grid;
  place-items: center;
}
h1 {
  margin: 10px;
  color: rgb(216, 207, 207);
}
.container-link {
  display: grid;
  place-content: center;
  height: 85vh;
}
.main-link button {
  width: 300px;
  background-color: rgb(190, 184, 184);
  color: black;
  font-weight: 600;
}
button {
  padding: 10px;
  min-width: 150px;
  margin: 10px;
  color: rgb(192, 187, 187);
  font-size: 1.3rem;
  background-color: black;
  border: 2px solid color black;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}
button:hover {
  transform: translateY(-2px);
}

/* ----------------------------card--------------------- */
img {
  max-width: 100%;
  min-height: 220px;
  height: auto;
  object-fit: cover;
  object-position: left;
}
.container-card {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.card {
  max-width: 550px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 9px 16px rgba(7, 6, 6, 0.4);
  background-color: rgb(190, 184, 184);
}
p {
  height: 50px;
  margin: 10px;
}
h2 {
  text-align: center;
  margin: 10px;
}
